@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@500;600;700&display=swap');

body {
    margin: 0;
    overflow-y: hidden;
    font-family: 'Epilogue';
    padding: 10px;   
}

.container {
    max-width: 1440px;
}

ul {
    list-style: none;
    color:  hsl(0, 0%, 41%);
    
}
ul li:hover{
    cursor: pointer;
    color: hsl(0, 0%, 8%);
}

ul li.active{
    color: hsl(0, 0%, 8%);
}

header {
    display: flex;
    justify-content: space-around;
}

header .logo {
    position: relative;
    width: 200px;
    left: -140px;
    top: 14px;
}

header nav ul {
    display: flex;
    margin-left: -550px;
    font-size: 15px;
}
header nav ul li{
    padding-right: 10px;
    padding-left: 20px;
    font-weight: 600;
}




.dropdown li{
    display: block;
    color: hsl(0, 0%, 41%);
    padding: 10px 25px;
    margin: auto;
}
.dropdown ul{
    display: none;
    background-color: white;
    position: absolute;
    box-shadow: 2px 2px 5px hsl(0, 0%, 8%);
    z-index: 1;
    width: fit-content;
    border: none;
    border-radius: 10px;
    padding: 5px 0;

}


.dropdown .features-sublist{
    left: 42rem;
}

.dropdown .company-sublist{
    left: 55rem;
    
}

.dropdown .features-sublist,
.dropdown .company-sublist {
    box-shadow: 6px 4px 8px rgba(1, 1, 0, 0.1); /* Adjust values for shadow color, blur, and spread */
    border-radius: 5px; /* Add border-radius for rounded corners, if desired */
}


.dropdown:hover ul{
    display: block;
    cursor: pointer;
    color: hsl(0, 0%, 8%);
}



header nav ul #features::after,
header nav ul #company::after
{
    content: url(./images/icon-arrow-down.svg);
    
}

.dropdown .features-sublist li:before {
    margin-right: 10px; /* Adjust the value to increase or decrease space */
}

.dropdown .features-sublist li:nth-child(1):before
{
    content: url(./images/icon-todo.svg);
    width: 20px;

    
}
.dropdown .features-sublist li:nth-child(2):before{
    content: url(./images/icon-calendar.svg);
}

.dropdown .features-sublist li:nth-child(3):before{
    content: url(./images/icon-reminders.svg);
}

.dropdown .features-sublist li:nth-child(4):before{
    content: url(./images/icon-planning.svg);
}

header nav ul #features:hover::after,

header nav ul #company:hover::after
{
    content: url(./images/icon-arrow-up.svg);
    
}

ul.sponsors{
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: flex-start;
    position: relative;
    top:  50px;
    left: -50px;
}

ul.sponsors li img{
    width: 100px;
    margin-left: 20px;
}

ul.sponsors li:nth-child(2) img{
    width: 60px;
}

.hero-section {
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    justify-items: center;
    gap: 20rem;
    margin: auto;
    margin-top: 30px;
}

.left-section, .right-section {
    position: relative;
}

.left-section {
    left: 150px;
}

.right-section {
    right: 20px;
}

.left-section p {
    font-size: 18px;
    font-weight: 500;
    line-height: 1.4rem;
    margin-bottom: 20px;
    text-align: left;
    color: hsl(0, 0%, 41%);
}

.hero-section img {
    width: 350px;
    height: auto;
}

.hero-title {
    font-size: 36px;
    font-weight: 700;
    line-height: 1.4rem;
}

.hero-title h1 {
    white-space: nowrap;
}

.hero-title .first-word {
    display: block; 
    margin-bottom: 0.5em; 
}

.buttons {
    display: flex;
    position: relative;
    right: -130px;
}

.login-btn, .register-btn{
    padding: 0px 20px;
    border-radius: 10px;
    color: hsl(0, 0%, 41%);
    font-size: 0.8rem;
    font-weight: 500;
    cursor: pointer;
    letter-spacing: 1px;

}

.login-btn:hover, .register-btn:hover{
    color: hsl(0, 0%, 8%);
}

.login-btn {
    background-color: rgb(255, 255, 255);
    border: none;
    font-size: 14px;
}

.register-btn {
    background-color: rgb(255, 255, 255);
    border: 1px solid hsl(0, 0%, 8%);
    border-radius: 14px;
    font-size: 14px;
}

.learn-more-btn {
    border: 1px solid #000;
    background-color: #000000;
    color: #ffffff;
    font-weight: 600;
    padding: 18px 35px;
    border-radius: 10px;
    font-size: 14px;
    font-family: 'Epilogue';
}

.learn-more-btn:hover {
    background-color: #ffffff;
    color: #000000;
}

.attribution {
    font-size: 11px;
    text-align: center;
    position: relative;
    top: 40px;
}

.attribution a {
    color: hsl(228, 45%, 44%);
    text-decoration: none;
}


.hidden{
    display: none;
}

@media screen and (max-width: 375px) {
    header nav{
        display: none;  
    }
}